$font-stack: "Untitled Sans", sans-serif;
$primary-bg-color: #EFECE6;
$secondary-bg-color:#E4E1DC;
$btn-bg-color:$primary-bg-color;
$btn-hover-color:black;


@mixin set-intro-text-color{
    color: whitesmoke;
    text-align: center;  
}

//placeholder selector
%btn-toolbelt{
    position: relative;
    align-self: center;
    background-color:$btn-bg-color;
    //padding: 10px;
    padding: 15px 60px;
    margin: 0 auto;
    display: block;
    border-width: 0;
}

@mixin set-btn-hover($property){ //interpolation
    background-#{$property} : $btn-hover-color;
    #{$property} :whitesmoke;
    transition :1s;
    @debug "background-color: background-#{$property}";
}

// set the text color based on the number of grid
@function set-text-color($evenOrOdd) {
    @if($evenOrOdd == 0) {
        @return #000;
    }
    @else {
        @return #fff;
    }
}