.perfect-shade-wrapper .perfect-shade-info .perfect-shade-content .perfect-shade-btn, #section2 .env-text .btn-philosophy, #intro .text .btn_discover {
  position: relative;
  align-self: center;
  background-color: #EFECE6;
  padding: 15px 60px;
  margin: 0 auto;
  display: block;
  border-width: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: medium;
}

* {
  box-sizing: border-box;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin-left: 15px;
  margin-right: 15px;
  background-color: #fffcfc;
}

:root {
  --primary: #EFECE6;
}

#intro {
  background-image: url(/images/img39.jpeg);
  background-position: center;
  background-size: cover;
  height: 75vh;
  position: relative;
  margin-bottom: 20px;
}
#intro .text {
  position: absolute;
  margin-top: 230px;
  color: whitesmoke;
  text-align: center;
}
#intro .text .heading-text {
  font-size: 50px;
  font-style: italic;
  margin-bottom: 30px;
  margin-left: 150px;
  margin-right: 150px;
}
#intro .text .para-text {
  margin-left: 150px;
  margin-right: 150px;
  font-size: 16px;
}
#intro .text .btn_discover {
  padding: 15px 40px;
  margin-top: 20px;
}
#intro .text .btn_discover:hover {
  background-color: black;
  color: whitesmoke;
  transition: 1s;
}

#section2 {
  display: flex;
  margin-bottom: 20px;
  height: 730px;
}
#section2 img {
  width: 50%;
  float: left;
}
#section2 .env-text {
  width: 50%;
  padding: 90px 70px 40px 70px;
  background-color: var(--primary);
}
#section2 .env-text .heading1 {
  font-size: 40px;
  font-style: italic;
  font-weight: lighter;
}
#section2 .env-text .heading2 {
  font-size: 20px;
  font-style: italic;
  font-weight: lighter;
  text-align: right;
}
#section2 .env-text p {
  font-size: 15px;
}
#section2 .env-text .text-list {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
#section2 .env-text li {
  list-style: none;
}
#section2 .env-text .btn-philosophy {
  background-color: #d9d3c9;
  margin-left: 0px;
  margin-top: 40px;
}
#section2 .env-text .btn-philosophy:hover {
  background-color: black;
  color: whitesmoke;
  transition: 1s;
}

.perfect-shade-wrapper {
  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-auto-rows: auto;
}
.perfect-shade-wrapper .perfect-shade-info {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 13px 70px 47px;
}
.perfect-shade-wrapper .perfect-shade-info .perfect-shade-content .perfect-shade-title {
  font-size: 40px;
  font-weight: 20;
}
.perfect-shade-wrapper .perfect-shade-info .perfect-shade-content .perfect-shade-title em {
  font-family: sans-serif;
  font-style: italic;
}
.perfect-shade-wrapper .perfect-shade-info .perfect-shade-content .perfect-shade-btn {
  background-color: #d9d3c9;
}
.perfect-shade-wrapper .perfect-shade-info .perfect-shade-content .perfect-shade-btn:hover {
  background-color: black;
  color: whitesmoke;
  transition: 1s;
}
.perfect-shade-wrapper .perfect-shade-item1 {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 1;
  align-items: center;
  display: flex;
  max-width: 160px;
  margin-left: 50px;
}
.perfect-shade-wrapper .perfect-shade-item1 img {
  width: 100%;
  height: 30%;
  -o-object-fit: cover;
     object-fit: cover;
}
.perfect-shade-wrapper .perfect-shade-item2 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 6;
  width: 100%;
  max-width: 180px;
  margin-left: 200px;
  padding-left: 20px;
}
.perfect-shade-wrapper .perfect-shade-item2 img {
  width: 80%;
  height: 80%;
  margin-top: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}
.perfect-shade-wrapper .perfect-shade-item3 {
  width: 100%;
  grid-row-start: 2;
  grid-row-end: 4;
  grid-column-start: 5;
  grid-column-end: 6;
  margin-top: -60px;
}
.perfect-shade-wrapper .perfect-shade-item3 img {
  width: 80%;
}
.perfect-shade-wrapper .perfect-shade-item4 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  max-width: 220px;
}
.perfect-shade-wrapper .perfect-shade-item4 img {
  margin-left: 50px;
  margin-top: 50px;
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.perfect-shade-wrapper .perfect-shade-item5 {
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 4;
  grid-column-end: 5;
  width: 100%;
  max-width: 167px;
}
.perfect-shade-wrapper .perfect-shade-item5 img {
  margin-top: 10px;
  width: 100%;
  height: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.product-grid h2 {
  text-decoration: none;
  font-style: italic;
  font-weight: lighter;
}
.product-grid-list {
  background-color: #EFECE6;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 40px;
  margin-bottom: 30px;
  padding: 0px 30px;
  max-height: 800px;
}
.product-grid-list .back-img {
  margin-top: 40px;
}
.product-grid-list .back-img p {
  margin-top: -40px;
  margin-left: 20px;
  font-style: italic;
}
.product-grid-list .back-img .p-even {
  color: #000;
}
.product-grid-list .back-img .p-odd {
  color: #fff;
}
.product-grid-list .back-img:hover .front-img {
  height: 100%;
  overflow: hidden;
}
.product-grid-list img {
  width: 100%;
  height: 80%;
}

@media (max-width: 700px) {
  #intro .text {
    margin-top: 10px;
  }
  #intro .text .heading-text {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 60px;
  }
  #intro .text .para-text {
    margin-left: 50px;
    margin-right: 50px;
    font-size: 16px;
  }
  #intro .text .btn_discover {
    padding: 15px 40px;
    margin-top: 20px;
  }
  #intro .text .btn_discover:hover {
    background-color: black;
    color: whitesmoke;
    transition: 1s;
  }
  #section2 {
    display: inline-block;
    height: 300px;
    width: 690px;
  }
  #section2 .env-text {
    padding: 20px 70px 40px 70px;
  }
  .perfect-shade-item1 img, .perfect-shade-item2 img, .perfect-shade-item3 img, .perfect-shade-item4 img, .perfect-shade-item5 img {
    display: none;
  }
  .perfect-shade-content {
    margin-top: 30px;
  }
}/*# sourceMappingURL=style.css.map */